#root-wrapper {
  display: flex;
  min-height: 100vh;
  height: auto;

  .left {
    width: var(--sidebar-width);
    height: auto;
    background-color: #e5e5f7;
    opacity: 0.8;
    background: repeating-linear-gradient(
      45deg,
      #444cf7,
      #444cf7 5px,
      #e5e5f7 5px,
      #e5e5f7 25px
    );
    color: #000;
    & > * {
      margin: 1rem;
      padding: 1rem;
      background-color: #fff;
    }
  }

  .right {
    flex: 1;
    height: auto;
    position: relative;
    padding: 0 var(--main-container-padding);
  }
}

#module-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-height: 100px;
  border-bottom: 1px solid #ccc;
}

#module-header__version {
  width: 50px;
}

#module-header__title {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--primary-color);
}

#module-header__logos {
  display: flex;
  align-items: center;
  gap: 10px;
}

h2 {
  margin: 0;
}

img {
  display: block;
}

#minMaxBtn {
  display: block;
  margin: auto;
  margin-top: -20px;
  width: 50px;
  background-color: rgba(#000000, 0.25);
  color: var(--primary-color);
  text-decoration: none;
  border: none;
  cursor: pointer;
}
